[submodule "3rdparty/argparse"]
	path = 3rdparty/argparse
	url = https://github.com/p-ranav/argparse
[submodule "3rdparty/tokenizers-cpp"]
	path = 3rdparty/tokenizers-cpp
	url = https://github.com/mlc-ai/tokenizers-cpp
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/tvm"]
	path = 3rdparty/tvm
	url = https://github.com/mlc-ai/relax.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/xgrammar"]
	path = 3rdparty/xgrammar
	url = https://github.com/mlc-ai/xgrammar.git
