#hero {
  background: radial-gradient(100% 50rem at center 50rem, rgba(51, 81, 203, 0.3137254902), #ffffff);
  padding: 3rem;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero a {
  color: black;
}
#hero .heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Mona Sans", "MonaSansFallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: auto;
}
#hero .heading-container a {
  min-width: fit-content;
  max-width: 16rem;
  flex-grow: 1;
}
#hero .heading-container h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
#hero .heading-container .link-container {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
  word-break: keep-all;
  font-weight: 600;
  gap: 1rem;
  justify-content: center;
}
#hero .heading-container .link-container .github-link {
  display: inline-flex;
  gap: 1rem;
  border-radius: 9999px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  height: fit-content;
}
#hero .heading-container .link-container .github-link .github-link-content {
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 9999px;
  padding: 1rem 1.75rem;
  background-color: #000000;
  display: inline-flex;
  gap: 0.5rem;
  display: inline-flex;
  justify-content: center;
  color: rgb(229, 229, 229);
}
#hero .heading-container .link-container .github-link .github-link-content .icon {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
}
#hero .heading-container .link-container .github-link .github-link-content .icon svg {
  height: 1.5rem;
}
#hero .heading-container .link-container .get-start-link {
  display: inline-flex;
  gap: 1rem;
  background-color: white;
  border-radius: 9999px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  height: fit-content;
  padding: 0.25rem;
}
#hero .heading-container .link-container .get-start-link .get-start-link-content {
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 9999px;
  padding: 1rem 1.75rem;
  background-color: white;
  display: inline-flex;
  justify-content: center;
}
#hero .heading-container .link-container .arrow-container {
  margin-left: 0.25rem;
  display: inline-flex;
  align-items: center;
}
#hero .arrow-expandable {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  transition: stroke-dashoffset 200ms;
}
#hero .expanded .arrow-expandable {
  stroke-dashoffset: 20;
}
#hero .demo-container {
  position: relative;
  margin-top: 96px;
  width: calc(100% + 4rem);
  max-width: 1024px;
  flex-shrink: 0;
  padding: 2rem;
}
#hero .demo-container svg {
  height: auto;
  width: 100%;
  border-radius: inherit;
}

.moving-border {
  overflow: hidden;
  position: relative;
}
.moving-border .border {
  position: absolute;
  inset: -1000%;
  animation: spin 3s linear infinite;
  border-radius: 1rem;
  background-image: conic-gradient(from 90deg at 50% 50%, #e2cbff 0, #393bb2 50%, #e2cbff 100%);
}

@media screen and (min-width: 640px) {
  #hero {
    padding: 6rem;
  }
  #hero .heading-container {
    max-width: 40rem;
  }
  #hero .heading-container h1 {
    font-size: 3rem;
  }
  #hero .demo-container {
    width: calc(100% + 10rem);
  }
}
@media screen and (min-width: 768px) {
  #hero .heading-container {
    max-width: 45rem;
  }
  #hero .heading-container h1 {
    font-size: 3.2rem;
  }
  #hero .heading-container .link-container {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  #hero {
    padding: 8rem;
  }
  #hero .heading-container {
    max-width: 50rem;
  }
  #hero .heading-container h1 {
    font-size: 3.5rem;
  }
  #hero .demo-container {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  #hero .heading-container {
    max-width: 60rem;
  }
  #hero .heading-container h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1760px) {
  #hero {
    background: radial-gradient(100% 50rem at center 50rem, rgba(51, 81, 203, 0.3137254902), #ffffff);
    gap: 4rem;
    padding-bottom: 12rem;
  }
}
@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

/*# sourceMappingURL=hero.css.map */